[submodule "third_party/rkvoice-stream"]
	path = third_party/rkvoice-stream
	url = https://github.com/suharvest/rkvoice-stream.git
[submodule "third_party/jetson-voice-engine"]
	path = third_party/jetson-voice-engine
	url = https://github.com/suharvest/jetson-voice-engine.git
